@keyframes twitchChannelBoxSlideIn {
    0% {transform: translateX(90%);}
    15% {transform: translateX(90%)}
    100% {transform: translateX(0%);}
}

@keyframes twitchRefreshButtonSlideIn {
    0% {transform: translateX(150%);}
    35% {transform: translateX(150%)}
    100% {transform: translateX(0%);}
}

#rightPane {
    display: flex;
    width: 10%;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}

#twitchLivePane {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    animation-name: twitchChannelBoxSlideIn;
    animation-duration: 0.9s;
    animation-delay: 0.0s;
    animation-timing-function: ease-out;
}

#manualRefreshBtn {
    position: relative;
    left: -6px;
    background-color: mediumpurple;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 8px;
    border-radius: 4px;
    border: 2px outset rebeccapurple;
    transition-duration: 0.3s;

    animation-name: twitchRefreshButtonSlideIn;
    animation-duration: 1.6s;
    animation-delay: 0.0s;
    animation-timing-function: ease-out;
}

#manualRefreshBtn:hover {
    background-color:rgb(201, 174, 238);
    border-color: mediumpurple;
}

#leftPane {
    display: flex;
    width: 10%;
    justify-content: flex-start;
    flex-direction: column;
}

#centerPane {
    display: flex;
    width: 80%;
}

#searchPane {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

#weatherPane {
    display: flex;
    height: 50%;
    justify-content: center;
    align-content: center;
}

#mapUnderlay {
    display: flex;
}

#rainMapContainer {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.twitchChannelBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-right: 5px;
}

.horizontalList {
    display: flex;
    flex-direction: row;
}

.verticalList {
    display: flex;
    flex-direction: column;
}

.twitchIcon {
    width: 60px;
    height: 60px;
    border: 2px solid lightslategray;
}

.imageLink {
    width: fit-content;
    height: fit-content;
}

.liveIndicator {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 24px;
    height: 24px;
}

.forecastPanel {
    width: 20%;
    height: 100%;
}

.rainOverlayImg {
    position:absolute;
    opacity:50%;
    width: 225px;
    height: 225px;
}