#twitchLivePane {
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: flex-end;
}

#leftPane {
    display: flex;
    width: 10%;
    justify-content: flex-start;
    flex-direction: column;
}

#centerPane {
    display: flex;
    width: 80%;
}

#searchPane {
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.twitchChannelBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 5px;
}

.horizontalList {
    display: flex;
    flex-direction: row;
}

.verticalList {
    display: flex;
    flex-direction: column;
}

.twitchIcon {
    width: 60px;
    height: 60px;
    border: 2px solid lightslategray;
}

.imageLink {
    width: fit-content;
    height: fit-content;
}

.liveIndicator {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 24px;
    height: 24px;
}